{% extends "base.html" %}
{% block content %}
{% load static %}

<link rel="stylesheet" href="{%static 'register.css' %}" />
 
<body>  
    <img src="{% static 'teller.gif' %}" id="misto">
    <section id="register-section">
        
        <h1>Register</h1>
        <form action="#" id="form" method="post">
            {% csrf_token %}
            <input type="text" name="email" class="formulare-item" placeholder="Email adress..." >
            <input type="text" name="email2"  class="formulare-item" placeholder="Retype email adress..."  >
            <input type="text" name="username" class="formulare-item" placeholder="Username..."  >
            <input type="password" name="password" class="formulare-item" placeholder="Password..."  >
            <input type="password" name="password2" class="formulare-item" placeholder="Retype password..."  >
            <input type="checkbox" name="Terms" id="terms-box" value="terms-condition"><span id="terms-accept-text"><b> I agree to the <a href="#">Terms & Condition</a></b></span>
            <button type="submit"  id="submit-button" value="submit"><b>Register</b></button>
            
        </form>

    </section>

</body> 

{% endblock %}